
        <div class="sidebar">
            <div class="sidebar-header">
                <a class="sidebar-title">Enchères</a>
            </div>
            <div class="sidebar-links">
                <div *ngFor="let link of links">
                    <p class="sidebar-subtitle">{{link.title}}</p>
                    <ul class="sidebar-list">
                        <li *ngFor="let item of link.items" class="sidebar-item">
                            <a class="sidebar-link" (click)="navigateTo(item.name)">
                                <i class="{{item.icon}} sidebar-icon"></i>
                                <span class="sidebar-text">{{item.name ? item.name : 'overview'}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
