.container {
    height:   50%;
    width: 700%; 
    margin-right: 1px;
    margin-bottom: 5px;
    background-image: url("/assets/xxx.png");
    }
    
    h3 {
        top: 1%;
        margin-bottom: 2%;
      font-size: 24px;
      color: #333;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .form-group {
      margin-bottom: 20;
    }
    
    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      color: #555;
    }
    
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="email"],
    .form-group input[type="number"],
    .form-group select {
      width: calc(100% - 10px); /* Adjust the width as needed */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-right: 10px; /* Add margin between input fields */
    }
    
  
    .btn-success {
      background-color: #28a745;
      color: #fff;
    }
    
    .btn-danger {
      background-color: #dc3545;
      color: #fff;
    }
    .form-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    
    label {
      display: block;
    }
    
    .col-form-label {
      padding-top: calc(0.375rem + 1px);
      padding-bottom: calc(0.375rem + 1px);
      margin-bottom: 0;
      font-size: 1rem;
      line-height: 1.5;
    }
  
    .btn-danger:hover,
    .btn-success:hover {
      opacity: 0.9;
    }
  
    label {
      display: block;
    }
    
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .btn-success {
      background-color: #28a745;
      color: #fff;
  
    }
    button.btn {
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        padding: .375rem .75rem;
        margin-right: .5rem;
      }
      
      button.btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        margin-bottom: 40%;
        margin-top: 2%;
        margin-left: 2%;
      }
      
      button.btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
      }
      
      button.btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
      }
      
      button.btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
      }
    .btn-danger {
      background-color: #dc3545;
      color: #fff;
     
    }
    