<app-header></app-header>
<app-sidebar></app-sidebar>

<section class="grid-container">
  <h2 class="header">Liste des articles</h2>
  <button type="button" class="btn-add" (click)="createArticle()"style=" font-style: normal;border-radius: 10px;margin-right: 55px;">  <i class="fas fa-pencil-alt"></i> Ajouter</button>
 
  <div *ngIf="onCreatee" class="form-container">
    <h2>Ajouter article</h2>
    <div class="row">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
     <div class="form-row">
      <div class="form-group ">
        <label for="titre">Titre </label>
        <input type="text" class="form-control" id="titre" formControlName="titre" placeholder="Entrez le titre">
      </div>
      <div class="form-group">
        <label for="description">Description </label>
        <input type="text" class="form-control" id="edit-description" formControlName="description"placeholder="Entrez description" required>
      </div>
   
      <div class="form-group ">
        <label for="photo">URL image</label>
        <input type="url" class="form-control" id="photo" formControlName="photo" placeholder="Entrez URL de l'image" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="prix">Prix</label>
        <input type="number" class="form-control" id="prix" formControlName="prix" placeholder="Entrez le prix" required>
      </div>    
      <!--<div class="form-group ">
        <label for="prixvente">Prix Vente</label>
        <input type="number" class="form-control" id="prixvente" formControlName="prixvente" placeholder="Entrez si l'article est prixvente ou non" required>
      </div>-->
      <div class="form-group ">
        <label for="livrable">Livrable</label>
        <input type="text" class="form-control" id="livrable" formControlName="livrable" placeholder="Entrez si l'article est livrable ou non" required>
      </div>
      </div>
      <div class="form-row">
      <div class="form-group">
          <label for="statut">Statut</label>
          <input type="text" class="form-control" id="statut" formControlName="statut" placeholder="Entrez le statut" required>
      </div>
      <div class="form-group ">
        <label for="quantite">Quantité</label>
        <input type="text" class="form-control" id="quantiter" formControlName="quantiter" placeholder="Entrez la quantité" required>
      </div>
      <div class="form-group">
        <label for="categorie">Catégorie</label>
        <select class="form-control" id="categorie" formControlName="categorie">
          <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.titre }}</option>
        </select>
      </div>
      </div>
      <button type="submit" class="btn  btn-primary "[style.margin]="'5px 15px'">Soumettre</button>
      <button type="button" class="btn btn-secondary"[style.margin]="'5px 15px'" (click)="cancelCreation()">Fermer</button>
    </form>
    </div>
  </div>

  <!-- Affichage de la liste des articles -->
  <table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Prix Vente</th>
        <th>Livrable</th>
        <th>Statut</th>
        <th>Quantité</th>
        <th>Categorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>
          <ng-container *ngIf="article?.photo">
              <img *ngIf="isValidURL(article.photo)" [src]="article?.photo" alt="article Image" class="card-img-top"/>
              <span *ngIf="!isValidURL(article.photo)">Aucune image disponible pour le moment</span>    
          </ng-container>
      </td>
        <td>{{ article?.titre }}</td>
        <td>{{ article?.description }}</td>
        
        <td>{{ article?.prix }}Dt</td>
        <td> {{ article?.prixvente }}Dt</td>
        <td>{{ article?.livrable }}</td>
        <td>{{ article?.statut }}</td>
        <td>{{ article?.quantiter }}</td>
        <td>{{ article?.categorie?.titre }}</td>
        <td>
          <div style="display: flex;">
            <button type="button" class="btn btn-edit" style=" color: #fff;
            background-color: #219c35;
            margin-right: 5px;
            border-radius: 5px;
            padding: 8px 16px; 
            font-size: 14px;" (click)="editArticleFunc(article)">
                <i class="fas fa-edit"></i>
            </button>
              <button type="button" class="btn btn-delete"style="color: #fff;
              background-color: #dc3545;
              margin-right: 5px;
              border-radius: 5px;
              padding: 8px 16px; 
              font-size: 14px;" (click)="deleteArticle(article.id.toString())">
                  <i class="fas fa-trash"></i>
              </button>
          </div>
      </td>     
      </tr>
    </tbody>
  </table>

</section>

<!-- Formulaire pour éditer un article -->
<div *ngIf="editMode"class="form-containerr">
  <h2>Modifier l'article</h2>
  <div class="row">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="card p-3">
    <div class="form-row">
    <div class="form-group">
      <label for="edit-titre">Titre</label>
      <input type="text" class="form-control" id="edit-titre" formControlName="titre" required>
    </div>
    <div class="form-group">
      <label for="edit-description">Description</label>
      <input type="text" class="form-control" id="edit-description" formControlName="description" required>
    </div>
    <div class="form-group">
      <label for="edit-image">Image</label>
      <input type="url" class="form-control" id="edit-image" formControlName="photo" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="edit-prix">Prix</label>
      <input type="number" class="form-control" id="edit-prix" formControlName="prix"  required>
    </div>
    <div class="form-group">
      <label for="edit-livrable">Livrable</label>
      <input type="text" class="form-control" id="edit-livrable" formControlName="livrable" required>
    </div>
    <div class="form-group">
      <label for="edit-statut">Statut</label>
      <input type="text" class="form-control" id="edit-statut" formControlName="statut"required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="edit-quantite">Quantité</label>
      <input type="number" class="form-control" id="edit-quantiter" formControlName="quantiter" required>
    </div>
    <div class="form-group">
      <label for="categorie">Catégorie</label>
      <select class="form-control" id="categorie" formControlName="categorie">
        <option *ngFor="let categorie of categories" [value]="categorie.id">{{ categorie.titre }}</option>
      </select>
    </div>
    </div>
    <div class="btn-group float-right">
      <button type="submit" class="btn btn-primary" style="margin-top: 30px;margin-bottom: 0px;">Enregistrer</button>
      <button type="button" class="btn btn-secondary" style="margin-top: 30px;margin-bottom: 0px;"(click)="cancelEdit()">Annuler</button>
    </div>
  </form>
  </div>
  
</div>