<div class="bg-white" *ngIf="!isLoginOrSignup()">
  <!-- Mobile menu  -->
  <div class="relative transition-all ease-linear duration-300"
    [ngClass]="{'-z-[1] opacity-0':!menuOpened,'z-40 opacity-100':menuOpened}" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

    <div class="fixed inset-0 z-40 flex transition ease-in-out duration-300 transform"
      [ngClass]="{'-translate-x-full':!menuOpened,'translate-x-0':menuOpened}">

      <div class="relative flex w-full max-w-xs flex-1 flex-col bg-white pt-5 pb-4 ease-in-out duration-300"
        [ngClass]="{'opacity-0':!menuOpened,'opacity-100':menuOpened}">


        <div class="absolute top-0 right-0 -mr-12 pt-2" (click)="toggleMenu()">
          <button type="button"
            class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Close sidebar</span>
            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!-- Links -->
        <div class="space-y-6 border-t border-gray-200 py-6 px-4">
          <div class="flow-root">
            <a routerLink="articles" routerLinkActive="activeLink" class="link">Aricles</a>
          </div>
          <div class="flow-root">
            <a routerLink="categories" routerLinkActive="activeLink" class="link">Categories</a>
          </div>
          <div class="flow-root">
            <a routerLink="enchere" routerLinkActive="activeLink" class="link">Encheres</a>
          </div>
        
          
          <div class="flow-root">
            <a routerLink="about" routerLinkActive="activeLink" class="link">About</a>
          </div>
        </div>

        <div class="space-y-6 border-t border-gray-200 py-6 px-4">
          <div class="flow-root">
            <a routerLink="/register" class="link">Create an account</a>
          </div>
          <div class="flow-root">
            <a routerLink="/login" class="link">Sign in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="relative z-10">
    <nav aria-label="Top">
      <!-- Top navigation -->
      <!-- Secondary navigation -->
      <div class="bg-white">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="border-b border-gray-200">
            <div class="flex h-16 items-center justify-between">

              <!-- Logo (lg+) -->
              <div class="hidden lg:flex lg:items-center">
                <a routerLink="/">
                  <span class="sr-only">Your Company</span>
                  <img class="h-10 w-auto" src="./assets/421631268_713731694254652_2574188580157975096_n.jpg" style=" border-radius: 50%;
                  width: 70px;
                  height: 70px;
                  margin-bottom: 10px;
                  border: 3px solid #f5f5f5;
                  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" alt="">
              </a>
              </div>

              <div class="hidden h-full lg:flex">
                <!-- Mega menus -->
                <div class="ml-8">
                  <div class="flex h-full justify-center space-x-8">
                  
                      <a *ngIf="userType === 'user' || userType === 'vendeur'" routerLink="articles" routerLinkActive="activeLink" class="link">Articles</a>           
                      <a routerLink="categories" routerLinkActive="activeLink" class="link">Categories</a>
                      <a *ngIf="userType === 'user' || userType === 'vendeur'" routerLink="enchere" routerLinkActive="activeLink" class="link">Enchères</a>
                      <a  routerLink="about" routerLinkActive="activeLink" class="link">About</a>
                      <div *ngIf="authService.isLoggedIn()"  class="flex items-center space-x-4">
                        <a *ngIf="userType === 'user' " routerLink="/demandevendeur" routerLinkActive="activeLink" class="link">Demande Vendeur</a> 
                      </div>      
                      <a class="link">
                          <span class="enchere-icon" style="background-color: rgb(236, 35, 35);border-radius: 5%;"> <!-- Ajoutez une classe pour l'icône rouge -->
                             Encheres En cours
                            <!-- Affichez le nombre d'enchères en cours à l'intérieur de la balise span -->
                            {{ nombreEncheresEnCours }}
                          </span>
                        </a>
                         
                  </div>
                </div>
              </div>

              <!-- Mobile menu and search (lg-) -->
              <div class="flex flex-1 items-center lg:hidden">
                <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
                <button (click)="toggleMenu()" type="button" class="-ml-2 rounded-md bg-white p-2 text-gray-400">
                  <span class="sr-only">Open menu</span>
                  <!-- Heroicon name: outline/bars-3 -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                </button>

                <!-- Search -->
                <a class="ml-2 p-2 text-gray-400 hover:text-gray-500">
                  <span class="sr-only">Search</span>
                  <!-- Heroicon name: outline/magnifying-glass -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                  </svg>
                </a>
              </div>

              <!-- Logo (lg-) -->
              <a routerLink="/" class="lg:hidden ">
                <span class="sr-only">Your Company</span>
                <img src="./assets/logo.png" alt="" class="h-8 w-auto">
              </a>



              <div class="flex flex-1 items-center justify-end">
                <div class="flex items-center lg:ml-8">
                  <div class="flex items-center space-x-8">
                    <div class="hidden lg:flex">
                      <a class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Search</span>
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                          stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                      </a>
                    </div>

                    <div *ngIf="userData" class="relative flex">

                      <div class="cursor-pointer" (click)="toggleUserMenu()">
                        <img id="avatarButton" type="button" class="w-8 h-8 rounded-full cursor-pointer"
                          [src]="userData.nom || 'assets/profile.png' " alt="User dropdown">
                      </div>

                      <!-- Dropdown menu -->
                      <div [ngClass]="{'opacity-100 scale-100':userMenu,'opacity-0 scale-50' : !userMenu}"
                        class="z-5 transform duration-300 origin-top absolute  top-[150%] right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                          <div>{{userData.prenom}}</div>
                          <div class="font- truncate">{{userData.email}}</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                          <li>
                            <a routerLink="/admin"
                              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                          </li>
                          <li>
                            <a routerLink=""
                              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                          </li>
                          <li>
                            <a routerLink=""
                              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                          </li>
                        </ul>
                        <div class="py-1" >
                          <a routerLink=""
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                            out</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <span class="mx-4 h-6 w-px bg-gray-200 lg:mx-6" aria-hidden="true"></span>

                  <div class="flow-root">
                    <a class="group -m-2 flex items-center p-2" (click)="toggleCartDetails()">
                        <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                        </svg>
                        <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"></span>
                        <span class="sr-only">articles dans le panier, voir le sac</span>
                    </a>
                    <div *ngIf="showCart" class="cart-details">
                        <app-panier *ngIf="showCart" [ArticleAdded]="ArticleAdded" (onOrderFinished)="finishOrder($event)"
                            #shoppingCartC [hidden]="orderFinished"></app-panier>
                           
                    </div>
                                
                </div>
                </div>
                <div>
                  <style>
                    .spacer {
                      margin-right: 15px;
                      margin-left: 15px;
                    }
                    .inline-block {
                      display: inline-block;
                    }
                  </style>
             
                  <div *ngIf="!authService.isLoggedIn()" class="inline-block spacer">
                    <a routerLink="/login" routerLinkActive="activeLink" class="link">Sign in</a>
                  </div>
                
                  <div *ngIf="!authService.isLoggedIn()"  class="inline-block">
                    <a routerLink="/register" routerLinkActive="activeLink" class="link">Create an account</a>
                  </div>
             
                  <div *ngIf="authService.isLoggedIn()" class="flex items-center space-x-4">
                    <button (click)="logout()" class="btn btn-danger">Logout</button>
                    <span (click)="toggleUserInfo()" class="h-10 relative w-10 grid rounded-full place-content-center bg-black">
                      <i class="fas fa-user-circle text-xl text-white text-muted-foreground mr-2"></i>
                      <div class="arrow-down"></div>
                      <div *ngIf="showUserInfo" class="profile-bubble">
                        <p class="info-label">Email:</p>
                        <p class="info-value">{{ authService.getUserEmail() }}</p>
                        <p class="info-label">Nom:</p>
                        <p class="info-value">{{ authService.getUserPassword() }}</p>
                        <p class="info-label">Type:</p>
                        <p class="info-value">{{ authService.getUserType() }}</p>
                      </div>
                    </span>
                    <!-- Logout button -->
                    
                  </div>                
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>