<app-header></app-header>
<app-sidebar></app-sidebar>
<div *ngIf="partEns.length > 0; else loading" class="grid-container">
    <h2 style="text-align: center;">Liste des partenaires</h2>
    <ul>
      <li *ngFor="let partEn of partEns">
        <strong>PartEn Id:</strong> {{ partEn.id }} <br>
        <strong>Enchères:</strong>
        <ul>
          <li *ngFor="let enchere of partEn.encheres">
            <strong>Enchere Id:</strong> {{ enchere.id }} <br>
            <strong>Date de début:</strong> {{ enchere.dateDebut | date:'dd/MM/yyyy HH:mm:ss' }} <br>
            <strong>Date de fin:</strong> {{ enchere.dateFin | date:'dd/MM/yyyy HH:mm:ss' }} <br>
            <!-- Afficher les articles associés à cette enchère -->
            <strong>Articles:</strong>
            <ul>
                <div *ngIf="enchere.id !== undefined && getArticlesForEnchere(enchere.id)">
                <ng-container *ngFor="let article of getArticlesForEnchere(enchere.id)">
                <img [src]="article.photo" alt="Photo de l'article" width="100" height="100" style="border-radius: 20%;">
                <strong>Titre:</strong> {{ article.titre }} <br>
                <strong>Prix:</strong> {{ article.prix }} Dt <br>
        
                <!-- Ajoutez d'autres propriétés d'article si nécessaire -->
              </ng-container>
                </div>
            </ul>
          </li>
        </ul>
        <strong>Utilisateurs:</strong>
        <ul>
          <li *ngFor="let user of partEn.users">
            <strong>Utilisateur Id:</strong> {{ user.id }} <br>
            <img [src]="user.photo" alt="Photo de l'article" width="100" height="100" style="border-radius: 20%;">   
            <strong>Nom:</strong> {{ user.nom }} <br>
            <strong>Prénom:</strong> {{ user.prenom }} <br>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  <ng-template #loading>
    <p>Chargement en cours...</p>
  </ng-template>
