/* Autres styles */
.container  {
    margin-top: 15%;
    margin-left: 20%;
    margin-top: -72rem; 
    height: 10%;
    width: 79%;

  }

  .table {
    margin-top: 30%;
    margin-left: 1%;
    margin-top: -50rem; 
    height: 10%;
    width: 79%;
    border-collapse: collapse;
  }
  
.table {
    width: 100%;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  