.container {
  height: 620px;
  max-width: 800px;
  margin: 20px auto;
  margin-left: 350px;
  padding: 30px;
  border: 1px solid #9b9898;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"],
  .form-group input[type="number"],
  .form-group select {
    width: calc(100% - 10px); /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px; /* Add margin between input fields */
  }
  

  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
  }
  
  .col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  .btn-danger:hover,
  .btn-success:hover {
    opacity: 0.9;
  }

  label {
    display: block;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;

  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
   
  }
  