<div class="container">
  <h2 style="text-align: center; font-style: normal;margin-top: 5px; margin-bottom: 10px;">Modifier Utilisateur</h2>
  <form (ngSubmit)="onSubmit()" style="max-width: 500px; margin: auto;">
  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="nom">Nom </label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="user.nom" name="nom" placeholder="Entrez votre nom" required>
    </div>
    <div class="form-group col-lg-6">
      <label for="prenom">Prénom </label>
      <input type="text" class="form-control" [(ngModel)]="user.prenom"  id="prenom" name="prenom">
    </div>
    <div class="form-group col-lg-6">
      <label for="tel">Téléphone </label>
      <input type="number" class="form-control"  [(ngModel)]="user.tel" id="tel" name="tel">
    </div>
  </div>
    <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="password">Password </label>
      <input type="password" class="form-control" [(ngModel)]="user.password"  id="password" name="password">
    </div>
    <div class="form-group col-lg-6">
      <label for="email">Email </label>
      <input type="email" class="form-control" [(ngModel)]="user.email"  id="email" name="email">
    </div>
    <div class="form-group col-lg-6">
      <label for="type">Type </label>
      <select type="text" class="form-control" id="type" name="type">
      <option value="admin">Admin</option>
      <option value="vendeur">Vendeur</option>
      <option value="user">User</option>
      </select>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="cin">Cin </label>
        <input type="number" class="form-control"[(ngModel)]="user.cin"  id="cin" name="cin">
      </div>
      <div class="form-group col-lg-6">
        <label for="longitude">Longitude </label>
        <input type="number" class="form-control"[(ngModel)]="user.longitude"   id="longitude" name="longitude">
      </div>
    <div class="form-group col-lg-6">
      <label for="latitude">Latitude </label>
      <input type="number" class="form-control"[(ngModel)]="user.latitude"  id="latitude" name="latitude">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="codePostal">Code Postal </label>
      <input type="number" class="form-control" [(ngModel)]="user.codePostal"  id="codePostal" name="codePostal">
    </div>
    <div class="form-group col-lg-6">
      <label for="pays">Pays </label>
      <input type="text" class="form-control" [(ngModel)]="user.pays"  id="pays" name="pays">
    </div>
    <div class="form-group col-lg-6">
      <label for="ville">Ville </label>
      <input type="text" class="form-control" [(ngModel)]="user.ville"   id="ville" name="ville">
    </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <button type="submit" class="btn btn-success">Enregistrer</button>
      <button type="button" class="btn btn-danger" (click)="goBack()">Retour</button>
    </div>
  </form>
</div>