<div class="container">
  <style>
    .alert-warning {
      background-color: #fff3cd; /* Yellow background */
      border-color: #ffeeba; /* Yellow border */
      color: #856404; /* Dark yellow text */
      border-radius: 10px; /* Rounded corners */
      padding: 15px 20px; /* Padding */
      margin-bottom: 20px; /* Bottom margin */
      width: 36%;
    }
  
    .alert-warning strong {
      color: #c83e4d; /* Red for the "Attention" text */
    }
  </style>
  
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fas fa-exclamation-triangle" style="color: rgb(239, 38, 11); margin-right: 5px; "></i> Cliquez sur l'image pour entrer le prix de vente

  </div>
  
  <h2 class="page-title text-center">Les Enchères Planifiées</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let enchere of encheres">
      <div class="card auction-card">
        <div class="card-body">
          <p class="card-text auction-date">Date de début : {{ enchere.dateDebut ? formatDate(parseDate(enchere.dateDebut)) : '' }}</p>
          <p class="card-text auction-date">Date de fin : {{ enchere.dateFin ? formatDate(parseDate(enchere.dateFin)) : '' }}</p>
          <div *ngIf="enchere.id !== undefined && getArticlesForEnchere(enchere.id)">
            <ng-container *ngFor="let article of getArticlesForEnchere(enchere.id)">
              <div style="display: inline-block; margin-right: 10px;">
                <div>{{ article.titre }}</div>
                <!-- Ajout d'un gestionnaire d'événements (click) pour afficher le formulaire après avoir cliqué sur l'image -->
                <img [src]="article.photo" alt="Photo de l'article" width="100" height="100" style="border-radius: 20%;" (click)="toggleAddPriceForm(article.id)">
                <div> Prix départ: {{ article.prix }} Dt</div>
                <div> Prix Vente: {{ article.prixvente }} Dt</div>
                <!-- Afficher le formulaire uniquement si cet article est sélectionné -->
                <form [formGroup]="prixVenteForm" *ngIf="showAddPriceForm && selectedArticleId === article.id" >
                  <!-- Vos autres champs de formulaire ici -->
                  <div class="form-group">
                    <label for="prixvente" class="prix-vente-label">Nouveau Prix de Vente  </label>
                    <input type="number" class="form-control prix-vente-input" id="prixvente" formControlName="prixvente">
                    <!-- Afficher le message d'erreur si le champ est invalide et a été touché -->
                    <div *ngIf="prixVenteForm.get('prixvente')?.errors?.['required'] && prixVenteForm.get('prixvente')?.touched"class="prix-vente-error">Le champ est requis</div>
                  </div>
                  <button type="submit" style="background-color: rgb(21, 235, 131); margin-top: 3px;
                  border: none;border-radius: 5px;  color: #fff; padding: 0.75rem 1rem;
                  transition: all 0.2s ease-in-out;" (click)="addPrixVenteForArticle(enchere.id !== undefined ? enchere.id : 0, article.id)">Valider</button>
                </form>                
                
              </div>
            </ng-container>
          </div>
             
          <!-- Bouton Participer -->
          <button *ngIf="enchere.id !== undefined" (click)="findUserIdAndParticipateEnchere(enchere.id);" class="btn btn-primary" style="text-align:center;margin-top: 5px;">Participer</button>
          <span *ngIf="enchere.id === undefined" class="badge badge-warning text-dark">ID d'enchère non défini</span>
        </div>
      </div>
    </div>
  </div>
</div>