

<div class="container">
  <style>
    .alert-warning {
      background-color: #fff3cd;
      border-color: #ffeeba;
      color: #856404;
      border-radius: 10px;
      padding: 15px 20px;
      margin-bottom: 20px;
      width: 36%;
    }
    .alert-warning strong {
      color: #c83e4d;
    }
    .secondary {
      background-color: rgb(204, 13, 13);
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .secondary:hover {
      background-color: rgb(200, 76, 18);
    }
  </style>
  
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <i class="fas fa-exclamation-triangle" style="color: rgb(239, 38, 11); margin-right: 5px;"></i> Cliquez sur l'image pour entrer le prix de vente
  </div>
  
  <h2 class="page-title text-center">Les enchères planifiées</h2>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let enchere of encheres">
      <div class="card auction-card">
        <div class="card-body">
          <p class="card-text auction-date">Date début : {{ enchere.dateDebut ? formatDate(parseDate(enchere.dateDebut)) : '' }}</p>
          <p class="card-text auction-date">Date fin : {{ enchere.dateFin ? formatDate(parseDate(enchere.dateFin)) : '' }}</p>
          
          <p class="card-text auction-state" *ngIf="enchere.etat === 'termine'" [ngClass]="['auction-state', 'termine']">
            <i class="fas fa-trophy"></i> <span class="etat-text">{{ enchere.etat }}</span>
          </p>  
          <p class="card-text auction-state" *ngIf="enchere.etat === 'en cours'" [ngClass]="['auction-state', 'en-cours']">
            <i class="fas fa-play-circle"></i> <span class="etat-text">{{ enchere.etat }}</span>
          </p>
          <div *ngIf="enchere.id !== undefined && getArticlesForEnchere(enchere.id)">
            <div *ngFor="let article of getArticlesForEnchere(enchere.id) | async">
              <div style="display: inline-block; margin-right: 10px;">
                <div>{{ article.titre }}</div>
                <img [src]="article.photo" alt="Photo de l'article" width="100" height="100" style="border-radius: 20%;" (click)="toggleAddPriceForm(enchere.id)">
               
                <div class="user-details" style="margin-top: 5px;">
                  <p><strong>Prix de départ :</strong> {{ article.prix }} Dt</p>
                
                </div>
             
                  <div *ngFor="let parten of enchere.parten"class="enchere-parten">
                    <div *ngIf="enchere.etat === 'termine' && parten.etat==='gangnant'"> 
                        <p style="font-weight: bold; font-size: 18px; margin-bottom: 10px; color: #f7f6f3 ;background-color: rgb(4, 190, 4);margin-left: 5px; border-radius: 5px; padding-left: 5px; padding: 5px;width: 80px;"> Gagnant</p>
                    
                        <p style="margin-bottom: 5px;">
                          <span style="display: inline-block; width: 80px; font-weight: bold;">Nom:</span>
                          <span>{{ parten.user?.nom }}</span>
                        </p>
                    
                        <p style="margin-bottom: 5px;">
                          <span style="display: inline-block; width: 80px; font-weight: bold;">Prénom:</span>
                          <span>{{ parten.user?.prenom }}</span>
                        </p>
                    
                        <p style="margin-bottom: 5px;">
                          <span style="display: inline-block; width: 80px; font-weight: bold;">Prix Final:</span>
                          <span>{{ parten.prixproposer }} Dt</span>
                        </p>
                        <p style="margin-bottom: 5px;">
                          <span style="display: inline-block; width: 80px; font-weight: bold;">État:</span>
                          <span>{{ parten.etat }}</span>
                        </p>
                        <div *ngIf="this.userid === +parten.user.id">
                          <button *ngIf="!isArticleAddedToCart(article.id)" class="secondary" (click)="addToCart(article)">Ajouter Au Panier</button>
                          <p *ngIf="isArticleAddedToCart(article.id)"class="success-message">Article ajouté avec succeès</p>
                        </div>
                      </div>
                  </div>
                  </div>
                <form [formGroup]="prixproposerForm" *ngIf="showAddPriceForm  && enchere.etat !== 'termine' && selectedArticleId === enchere.id">
                  <div class="form-group">
                    <label for="prixproposer" class="prix-vente-label">Nouveau Prix Proposé</label>
                    <input type="number" style="margin-left: 10px;" class="form-control prix-vente-input" id="prixproposer" formControlName="prixproposer">
                    <div *ngIf="prixproposerForm.get('prixproposer')?.errors?.['required'] && prixproposerForm.get('prixproposer')?.touched" class="prix-vente-error">Le champ est requis</div>
                  </div>
                  <button type="submit" class="secondary" (click)="addPrixVenteForArticle(enchere.id, article.id)">Valider</button>               
                  <span class="close-icon" style="margin-left: 150px; font-size: 150%;" (click)="closeForm()">
                    <i class="fas fa-times" style="color:red"></i> 
                  </span>
                </form>
       
              </div>
            </div>
          <button *ngIf="enchere.id !== undefined && enchere.etat !== 'termine'"
            (click)="findUserIdAndParticipateEnchere(enchere.id);"
            class="btn btn-primary"
            style="text-align:center; margin-top: 5px;">
            Participer
          </button>
          <span *ngIf="enchere.id === undefined" class="badge badge-warning text-dark">ID d'enchère non défini</span>
        </div>
      </div>
    </div>
  </div>
</div>