.grid-container {
    width: 220%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.dashbord{
    margin-top: -75rem; 
    margin-left: 20%;
    width: 40%;
}
.grid-container-v{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

/* Styles for the sidebar container */
.sidebar {
    width: 280px;
    background-color: #0a2250;
    height: 900px;
    padding: 20px;
    z-index: 20;
    margin-left: -20px;
}


/* Grid item */
.grid-item {
    width: 100%;
}

/* Titles */
h3 {
    margin-bottom: 0.5rem;
}

/* Subtitles */
p {
    margin-bottom: 1rem;
}

/* Styles for the sidebar header */
.sidebar-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the sidebar title */
.sidebar-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

/* Hover effect for sidebar title */
.sidebar-title:hover {
    text-decoration: underline;
}

/* Styles for the sidebar subtitle */
.sidebar-subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Styles for the sidebar list */
.sidebar-list {
    list-style-type: none;
    padding: 0;
}

/* Styles for the sidebar item */
.sidebar-item {
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect for sidebar item */
.sidebar-item:hover {
    background-color: rgba(31, 13, 190, 0.1);
}

/* Styles for the sidebar link */
.sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ccc;
}

/* Styles for the sidebar icon */
.sidebar-icon {
    font-size: 20px;
    margin-right: 10px;
}

/* Styles for the sidebar text */
.sidebar-text {
    font-size: 16px;
}


