<app-header></app-header>

<app-sidebar></app-sidebar>

<div class="flex" class="dashbord">
    <div class="px-5 pb-10">
        <div class="px-5 pb-10">
            <div class="mt-5">
                <h2 style="text-align: center; margin-top: -86%; font-family: Arial, sans-serif; " class="text-3xl font-bold tracking-tight" class="dashboard-title">Tableau de bord</h2>
                <p style="text-align: center; margin-top: 1%; font-size: large; font-family: Arial, sans-serif; " class="text-3xl font-bold tracking-tight"class="dashboard-description">
                    Bienvenue sur le tableau de bord, restez informé avec les dernières informations.
                </p>
                <div class="card card-container" style=" object-fit:cover; /* Redimensionner l'image pour couvrir tout le conteneur */">
                    <div class="img-container">
                        <img id="profile-img" src="assets/052e5f05-b694-4fa5-aa38-fe3b347ad72c_1.jpg" class="profile-img-card" />
                    </div> 
        </div>
    </div>
</div>