.containerr {
    width: 80%;
    height: 95%;
    margin-left: 19%;
    margin-top: -75rem; 
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .article_Image{
    width: 50px;
    height: 70px;
 }
 .custom-table {
     border-collapse: separate;
     border-spacing: 30px; /* Adjust spacing as needed */
 }
 .header {
     text-align: center ;
     font-family: Arial, Helvetica, sans-serif;
     font-style: italic;
     font-size: 24px; /* Ajustez la taille de la police selon vos préférences */
     margin-bottom: 10px;
     margin-top: 10px;
 }
 
 .new-user-section {
     font-style: italic;
     border-radius: 10px;
     margin-right: 20px;
     margin-bottom: 10px;
 }
 
 .user-form {
    width: 100%;
 }
 
 .alert-success {
     color: #155724;
     background-color: #d4edda;
     border-color: #c3e6cb;
 }
 .table th, .table td {
     vertical-align: middle;
 }
 
 .actions {
     display: flex;
     justify-content: center;
 }
 
 .btn {
     min-width: 20px;
     cursor: pointer;
     border: none;
     border-radius: 5px;
     padding: 10px 10px;
     font-size: 14px;
     transition: background-color 0.3s ease;
 }
 
 .btn-edit {
     color: #fff;
     background-color: #219c35;
     margin-right: 10px;
     border-radius: 5px;
     padding: 8px 16px; 
     font-size: 14px;
 }
 
 .btn-delete {
     color: #fff;
     background-color: #dc3545;
     margin-right: 5px;
     border-radius: 5px;
     padding: 8px 16px; 
     font-size: 14px;
 }
 .btn i {
     margin-right: 5px;
 }
 
 .btn-view-details {
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 5px;
     padding: 8px 16px; 
     font-size: 14px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .btn-view-details i {
     margin-right: 5px; /* Espace entre l'icône et le texte */
 }
 
 .btn-view-details:hover {
     background-color: #0056b3; /* Changement de couleur au survol */
 }
 .alert-container {
     position: fixed;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #ffffff;
     padding: 20px;
     border-radius: 10px; 
 }
 
 .alert {
     background-color: #ffffff; /* Couleur de fond de l'alerte */
     padding: 10px 20px;
   
     border-radius: 10px; 
     color: #000000; /* Couleur du texte */
 }
 
 .btn-ok {
     margin-top: 10px; /* Espacement entre l'alerte et le bouton */
     background-color: #dc3545; /* Couleur de fond du bouton OK */
     color: #ffffff; /* Couleur du texte du bouton */
     border: none;
     border-radius: 5px;
     padding: 5px 10px;
     cursor: pointer;
 }
 .grid-container {
     width: 220%;
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 }
 .grid-container-v{
     width: 100%;
     display: grid;
     gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
 }
 
 /* Styles for the sidebar container */
 .sidebar {
  width: 280px;
  background-color: #0a2250;
  height: 1200px;
  padding: 20px;
  z-index: 20;
  margin-left: -20px;
 }
 
 
 /* Grid item */
 .grid-item {
     width: 100%;
 }
 
 /* Titles */
 h3 {
     margin-bottom: 0.5rem;
 }
 
 /* Subtitles */
 p {
     margin-bottom: 1rem;
 }
 
 /* Styles for the sidebar header */
 .sidebar-header {
     text-align: center;
     margin-bottom: 20px;
 }
 
 /* Styles for the sidebar title */
 .sidebar-title {
     color: #fff;
     font-size: 24px;
     font-weight: bold;
     text-decoration: none;
     display: block;
 }
 
 /* Hover effect for sidebar title */
 .sidebar-title:hover {
     text-decoration: underline;
 }
 
 /* Styles for the sidebar subtitle */
 .sidebar-subtitle {
     color: rgba(255, 255, 255, 0.7);
     font-size: 18px;
     margin-top: 20px;
     margin-bottom: 10px;
     text-transform: uppercase;
 }
 
 /* Styles for the sidebar list */
 .sidebar-list {
     list-style-type: none;
     padding: 0;
 }
 
 /* Styles for the sidebar item */
 .sidebar-item {
     padding: 10px;
     border-radius: 5px;
     transition: background-color 0.3s ease;
 }
 
 /* Hover effect for sidebar item */
 .sidebar-item:hover {
     background-color: rgba(31, 13, 190, 0.1);
 }
 
 /* Styles for the sidebar link */
 .sidebar-link {
     display: flex;
     align-items: center;
     text-decoration: none;
     color: #ccc;
 }
 
 /* Styles for the sidebar icon */
 .sidebar-icon {
     font-size: 20px;
     margin-right: 10px;
 }
 
 /* Styles for the sidebar text */
 .sidebar-text {
     font-size: 16px;
 }
 
  

/* Styles par défaut */
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Media query pour les écrans de taille moyenne */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

/* Media query pour les écrans de grande taille */
@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

/* Media query pour les écrans extra larges */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
