
.container {
  height: auto; /* Change to auto to fit content */
  max-width: 800px; /* Adjust as needed */
  margin: 20px auto; /* Center the container */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #9b9898;
}

.form-photo {
  max-width: 10%; /* Ensure the image fits within its container */
  height: 5%; /* Maintain aspect ratio */
  display: block; /* Ensure proper spacing around the image */

}

/* Adjusting width and alignment for form groups */
.form-group {
  width: 100%; /* Adjust as needed */
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Adjust alignment as needed */
  }

  .form-group {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px;
  }
}

h2 {
  font-size: x-large;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

select.form-control {
  appearance: none;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
}

.btn:hover {
  background-color: #c82333;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}

.container {
  padding: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  display: block;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

/* Adjusting width and alignment */
.form-group {
  width: 31%; /* Adjust as needed */
}

@media (max-width: 768px) {
  .form-group {
    width: 100%;
  }
}
