<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="openModal()" style="background-color: rgb(92, 90, 221); border: 1px solid #ccc;">
  <i class="bi bi-plus-circle-fill"></i>
  Nouveau Utilisateur
</button>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajout Utilisateur</h4>
        
      </div>
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="formEditeur"></ng-container>
      </div>
     
    </div>
  </div>
</div>
<ng-template #formEditeur>
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="addUser()"> <!-- Ajout du formGroup sur le formulaire -->
      
      <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" class="form-control" id="nom" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" class="form-control" id="prenom" formControlName="prenom">
      </div>
 
    <div class="form-group">
        <label for="id">Cin :</label>
        <input type="number" class="form-control" id="id" formControlName="cin">
      </div>
      <div class="form-group">
        <label for="type">Type :</label>
        <select type="text" class="form-control" id="type" formControlName="type">
        <option value="admin">Admin</option>
        <option value="vendeur">Vendeur</option>
        <option value="user">User</option>
        </select>

      </div>
      <div class="form-group">
        <label for="tel">Téléphone :</label>
        <input type="text" class="form-control" id="tel" formControlName="tel">
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
            type="password"
            class="form-control"
            name="password"
            formControlName="password"
            minlength="6"
        />
    </div>
      <div class="modal-footer">
        <div class="btn-container">
            <button type="submit" class="btn btn-success" (click)="addUser()">Enregistrer</button>
            <button type="button" class="btn btn-close" (click)="closeModal()">Fermer</button>

        </div>
    </div>
    
    </form>
  </div>
  <div class="error-message" *ngIf="errorMessage" style="position:relative;margin-top: 12px;">
    {{ errorMessage }}
</div>
</ng-template>
